<div class="titulo">
  <h1>Request Test</h1>
</div>

<div class="app">

  <div class="justify-content-center">
  
    <form [formGroup]="testForm">

      <div class="input-group mb-3">
        <select class="btn btn-outline-secondary" id="button-addon1">
          <option value="1">GET</option>
          <option value="2">POST</option>
          <option value="3">PUT</option>
        </select>
        <input type="text" class="form-control uri-input" aria-label="Text input with dropdown button">
      </div>

      <textarea class="requestbody" cols="80" rows="10" formControlName="requestBody"></textarea>
    </form>
  
  </div>

  <div class="justify-content-end">
    <button class="btn btn-run" (click)="run()">Run</button>
  </div>
  
      <p>
        Number Field: <br>
          "fieldName" : ["number", isRequired, min, max]
      </p>
      <p>
        String Field: <br>
          "fieldName" : ["string", isRequired]
      </p>
      <p>
        Boolean Field: <br>
          "fieldName" : ["boolean", isRequired]
      </p>
      <p>
        Date Field: <br>
          "fieldName" : ["date", isRequired, "format"]
      </p>
      <p>
        Enum Field: <br>
          "fieldName" : ["enum", isRequired, ["option1", "option2", "option3"]]
      </p>
</div>